[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = {extras = ["toml"],version = "*"}
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pika-stubs = "*"
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
types-python-dateutil = "*"
responses = "*"

[packages]
colorlog = "~=6.7"
more-itertools = "~=10.3"
python-dotenv = "~=1.0"
requests = "~=2.31"
slackclient = "~=2.9"
lab-share-lib = {editable = false,git = 'https://github.com/sanger/lab-share-lib.git',ref = '8ee103e8d3f539c23035d307fe33bd6c143b3b91'}
requests-mock = "*"
types-requests = "*"
python-snappy = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true

[scripts]
black = 'black'
mypy = 'mypy'
flake8 = 'flake8'
test = 'python -m pytest -vx'
