[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = {extras = ["toml"],version = "*"}
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pika-stubs = "*"
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
types-python-dateutil = "*"
responses = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
furo = "*"
recommonmark = "*"
markdown = "*"
sphinx-adc-theme = "*"
sphinx-theme-pd = "*"
sphinx-pdj-theme = "*"

[packages]
colorlog = "~=6.9"
more-itertools = "~=10.6"
python-dotenv = "~=1.0"
requests = "~=2.31"
slackclient = "~=2.9"
lab-share-lib = {editable = false,git = 'https://github.com/sanger/lab-share-lib.git',ref = 'v1.2.0'}
requests-mock = "*"
types-requests = "*"
python-snappy = "*"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true

[scripts]
black = 'black'
mypy = 'mypy'
flake8 = 'flake8'
test = 'python -m pytest -vx'
