[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = {extras = ["toml"],version = "*"}
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pika-stubs = "*"
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
types-python-dateutil = "*"
responses = "*"

[packages]
colorlog = "~=6.7"
fastavro = "~=1.7"
more-itertools = "~=9.0"
pika = "~=1.3"
python-dotenv = "~=0.21"
requests = "~=2.28"
slackclient = "~=2.9"
lab-share-lib = {editable = false,git = 'https://github.com/sanger/lab-share-lib.git',ref = 'master'}
python-snappy = "~=0.6"
python-statemachine = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true

[scripts]
black = 'black'
mypy = 'mypy'
flake8 = 'flake8'
test = 'python -m pytest -vx'
